*
{
    margin: 0;
    padding: 0;
    cursor: none; 
    /* temp */
}

html, body {
  background-color: rgb(28, 28, 28);
  overflow: hidden;
}

body {
  position: relative
}

header{
    pointer-events: all;
    cursor: auto;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

#cursor {
    position: fixed;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
    z-index: 9999;


    @media (max-width: 767px) {
      width: 0px;
      height: 0px;
    }

}

.cursor-icon{
  display:none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* turns on/off orbit controls... */
.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.title{

  font-size: 60px;
  font-weight: 600;
  
  @media (max-width: 767px) {
    text-align: center;
    font-size: 40px;
  }

}


p{
  @media (max-width: 767px) {
    font-size: 13px;
    padding: 10px;
  }
}


.section{  
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 150px;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;    /* display to the right */
    align-items: center;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
     /* Slide */
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0;
    transform: translateX(50%);
    padding-bottom:100px;


    @media (max-width: 767px) {
      width: 100%;
      padding: 10px;
      justify-content: center;
      top: 55%;
      display: inline;
    }

}

.visible{
    visibility: visible;
}


.slide-in {
    transform: translateX(0%);
    opacity: 1; 
    /* visibility: visible; */
  }

#container {
    height: 100vh;
    /* position: relative; */
    /* scroll-snap-type: y mandatory;  */
}

i{
  color: yellow;
}

h1{
  color:yellow;
}


/* Section Styling */

.btn {
  display: inline-block;
  padding: 0.25em 0.4em; /* Adjust padding values to make the button smaller */
  font-size: 20px;
  font-weight: 700;
  background-color: yellow;
  color: black;
  text-decoration: none;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
  margin-top: 250px;
}

.btn:hover {
  background-color: rgb(70, 65, 23);
}