*
{
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

html{
    background-color: #1e1a20;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.section
{  
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 20%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
     /* Slide */
    transition: transform 0.5s, opacity 0.5s;
    opacity: 5;
    transform: translateX(100%);
}

.visible{
    visibility: visible;
}


.slide-in {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

#container {
    height: 100vh;
    position: relative;
    /* scroll-snap-type: y mandatory;  */
}